<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="">

      </ion-back-button>
    </ion-buttons>
    <ion-title>Records</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>
  <app-records-card status="New" updateAt="24/04/2024" createAt="24/04/2024" notes="New add"></app-records-card>
  <app-records-card status="Hold" updateAt="24/04/2024" createAt="24/04/2024" notes="New add"></app-records-card>
  <app-records-card status="Processing" updateAt="24/04/2024" createAt="24/04/2024" notes="New add"></app-records-card>
  <app-records-card status="Finish" updateAt="24/04/2024" createAt="24/04/2024" notes="Finished add" value="$11,00"></app-records-card>



</ion-content>
