p{
  white-space: normal;
}

/* Estilos para o título do cartão */
ion-card-title {
  color: #B95CF4; /* Roxo */
}

/* Estilos para os textos dos itens de entrada */
ion-label {
  color: #B95CF4; /* Roxo */
}
ion-toolbar ion-title {
  color: #B95CF4; /* Roxo */
}
