<ion-header >
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Update</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRDQ7QMAbxXFb4XESF_n9x-0YIPoum_wsSCMw&s" />
  <ion-card>
    <ion-card-content>
    <p>Address: 31 Bolton Street</p>
    <p>Complement: Flat 1</p>
    <p>Zip code: D01</p>
    <p>City: Dublin</p>
  </ion-card-content>
</ion-card>
<ion-list>
  <ion-item lines="inset">
    <ion-label position = "floating">Notes</ion-label>
    <ion-textarea></ion-textarea>
  </ion-item>
</ion-list>
<ion-button size="full" color="success"> Create record</ion-button>
</ion-content>
