ion-button[color="dark"]{
  text-transform: initial;
}

/* Estilos para o título do cartão */
ion-card-title {
  color: #B95CF4; /* Roxo */
}

/* Estilos para os textos dos itens de entrada */
ion-label {
  color: #B95CF4; /* Roxo */
}

/* Estilos para os botões */
ion-button[size="full"] {
  --background: #B95CF4; /* Cor de preenchimento roxa */
  --color: #ffffff; /* Cor do texto branco */
}


/* src/app/pages/loader/loader.page.scss */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}


