<ion-header >
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
<ion-card>
    <ion-card-content>
        <ion-card-header>
          <ion-card-title>Please select the purpose for using this website:
          </ion-card-title>
        </ion-card-header>


        <ion-radio-group><ion-list>
          <ion-item>
            <ion-label>Academic Research</ion-label>
            <ion-radio value="Research  "></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Symptom Tracking</ion-label>
            <ion-radio value="Symptom"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Support and Community</ion-label>
            <ion-radio value="Support"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Nutritional Guidance</ion-label>
            <ion-radio value="Nutritional"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Mental Health Support</ion-label>
            <ion-radio value="Mental"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Others</ion-label>
            <ion-radio value="Others"></ion-radio>
          </ion-item>


      </ion-list>
</ion-radio-group>
    </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Contact</ion-card-title>
      </ion-card-header>
      <ion-item>
        <ion-input label="Name" labelPlacement="floating" placeholder="Enter your name" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Email" labelPlacement="floating" placeholder="Enter your email" type="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Password" labelPlacement="floating" placeholder="Enter your password" type="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Confirm Password" labelPlacement="floating" placeholder="Enter your password again" type="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Phone number" labelPlacement="floating" placeholder="Enter your phone number" type="tel"></ion-input>
      </ion-item>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Address Information</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-item>
            <ion-input label="Address" labelPlacement="floating" placeholder="Enter your address" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Address number" labelPlacement="floating" placeholder="Enter your address number" type="tel"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Complement" labelPlacement="floating" placeholder="Complement" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="City" labelPlacement="floating" placeholder="City" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Zip Code" labelPlacement="floating" placeholder="Zip Code" type="text"></ion-input>
          </ion-item>
        </ion-card-content>
      </ion-card>
  <ion-button size="full" color="light">Register</ion-button>
</ion-content>
