/* Estilos padrão para todos os tamanhos de tela */
.main-container {
  display: flex;
}

.card-calendar-container {
  display: flex;
  width: 100%;
}

.left-card {
  flex: 1;
  margin-right: 10px; /* Espaçamento entre o card e o calendário/eventos */
}

.right-container {
  display: flex;
  flex-direction: column;
}

.calendar-container {
  width: 100%; /* Define a largura do calendário */
}

.events-list {
  width: 100%; /* Define a largura dos eventos */
}

/* Estilo para a imagem */
.image-container ion-img {
  max-width: 100%; /* Define a largura máxima da imagem */
  max-height: 50%; /* Permite que a altura da imagem seja ajustada automaticamente */
}

/* Adiciona um espaçamento inferior ao conteúdo abaixo da imagem */
.main-container {
  padding-bottom: 20px; /* Espaçamento inferior de 20 pixels */
}

ion-toolbar ion-title {
  color: #7417ae; /* Roxo */
}
ion-fab-button {
  --background: #B95CF4; /* Cor de preenchimento roxa */
}
ion-title
{
  color: #B95CF4; /* Roxo */
}

.footer-link {
  font-size: 14px; /* Tamanho de fonte menor */
  color: #B95CF4; /* Cor roxa */
}
.footer-link .icon-label {
  margin-left: 0rem; /* Adjust as needed */
}

.footer-link .icon-label {
  margin-right: 0rem; /* Adjust as needed */
}

.custom-button {
  color: white;
  border: none; // Removes default border
  font-weight: bold; // Makes text bold
  text-align: center;
  margin: 0 5px; // Adds some margin between buttons
  padding: 10px 20px; // Adjust padding as needed

  &:hover {
    background-color: darken(#B95CF4, 10%); // Darkens the purple color on hover
  }

  &:focus {
    box-shadow: 0 0 5px #B95CF4; // Adds a subtle shadow when focused
    outline: none; // Removes default outline
  }
  .early-diagnosis-button {
    color: #B95CF4; /* Purple text color */
  }
}

/* Estilos para o tooltip */
ion-fab-button {
  position: relative;
}

ion-fab-button:hover::after {
  content: attr(title);
  position: absolute;
  bottom: 100%; /* Posiciona o tooltip acima do botão */
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  white-space: nowrap;
  font-size: 14px;
  z-index: 1000;
}

ion-fab-button:hover::before {
  content: '';
  position: absolute;
  bottom: 90%; /* Posiciona a seta do tooltip */
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
  z-index: 1000;
}

/* Estilos para dispositivos móveis */
@media only screen and (max-width: 767px) {
  .card-calendar-container {
    flex-direction: column; /* Altera a direção do flexbox para coluna */
  }

  .left-card,
  .right-container {
    width: 100%; /* Define a largura total para ambos os componentes */
    margin-right: 0; /* Remove o espaçamento entre os componentes */
  }

  .right-container {
    margin-top: 10px; /* Adiciona um espaçamento superior entre os componentes */
  }
}

@media only screen and (max-width: 767px) {
  .desktop-title {
    display: none; /* Esconde o título em dispositivos móveis */
  }

  .desktop-buttons {
    display: none; /* Esconde os botões em dispositivos móveis */
  }

  ion-label {
    display: flex;
    flex-direction: column; /* Muda os botões para uma coluna */
  }

  .custom-button {
    width: 100%; /* Define a largura total para os botões */
    margin: 5px 0; /* Adiciona margem vertical entre os botões */
  }
}
